.musicAlbums{
  padding-top: 40px;
  .album-buy-link{
    color: #6c757d!important;
    text-decoration: none;
    cursor: pointer;
  }
}

.error{
  padding-top: 40px;
  width: 500px; 
  margin: 0 auto;
}

.loading{
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}